*{
    margin: 0;
    padding:0;
    box-sizing: border-box
}
body{
    background: linear-gradient(315deg, #bfeed1,#bbb2af);
    height: 100vh;
   display:flex;
   align-items: center;
   justify-content: center;
}
.container{
    background-color: rgba(218, 236, 240, 0.755);
    padding: 30px 45px;
    border-radius: 50px;
    width: 500px;
}
.h1{
    color: rgb(37, 197, 233);
    margin-left: 72px;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}
.container .box{
    width:100%;
    display: flex;
}
.box div{
  width: 100%;
}
select{
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background: #94b3b5;
    outline:none;
    color: black;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border:none;
}
input{
    width: 95%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    border-radius:10px;
    border:none;
    background : #87ada0;
    outline:none;
    padding: 0 1em;
    
}
.btn{
    width:96%;
    height: 40px;
    background: #4d615b;
    color:white;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    font-size: 1em;
    margin: 0.5em 0;
}